// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2011 Texas Instruments Incorporated - http://www.ti.com/
 */
/dts-v1/;

#include "omap36xx.dtsi"
#include <dt-bindings/input/input.h>
/* #include "omap3-evm-common.dtsi" */
/* #include "omap3-evm-processor-common.dtsi" */

/ {
	model = "Navis Orion (2016 m.y.)";
	compatible = "navis,omap3-orion2016", "ti,omap3630", "ti,omap3";

	cpus {
		cpu@0 {
			cpu0-supply = <&vcc>;
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};

	chosen {
		stdout-path = &uart3;
	};

	backlight_kbd: backlight_kbd {
		compatible = "pwm-backlight";
		pwms = <&pwm8 0 100000 0>; /* Omit flags (3rd pwm cell) */
		brightness-levels = <0 11 20 30 40 50 60 70 80 90 100>;
		default-brightness-level = <5>;	/* => 50 */
	};

	backlight_lcd: backlight_lcd {
		compatible = "pwm-backlight";
		pwms = <&pwm9 0 100000 0>; /* Omit flags (3rd pwm cell) */
		brightness-levels = <0 11 20 30 40 50 60 70 80 90 100>;
		default-brightness-level = <5>;	/* => 50 */
	};

	pwm8: dmtimer-pwm8 {
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&timer8>;
		ti,clock-source = <0>;
		#pwm-cells = <3>;
	};

	pwm9: dmtimer-pwm9 {
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&timer9>;
		ti,clock-source = <0>;
		#pwm-cells = <3>;
	};

	/* fixed 26MHz oscillator */
	hfclk_26m: oscillator {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <26000000>;
	};

	sound: Orion2 {
		compatible = "orion2-audio";
		ti,model = "Orion2";
		ti,mcbsp = <&mcbsp2>;
		amp-gpio;    /* Use TWL4030 gpio control for amplifier regulation */
	};

	orion_gpio_uart_pinmux: orion-gpio-uart-pinmux {
		compatible = "orion-gpio-uart-pinmux";
	};
};

&mcbsp2{
	status = "ok";
};

&omap3_pmx_core {
	pinctrl-use-default;/*  X-Loader has muxed the pins. Let them be.*/
	/*uart2_pins: pinmux_uart2_pins {
		pinctrl-single,pins = <
		  OMAP3_CORE1_IOPAD(0x2170, PIN_OUTPUT | MUX_MODE1)
			OMAP3_CORE1_IOPAD(0x2172, WAKEUP_EN | PIN_INPUT | MUX_MODE1)
			>;
	};*/
};

&uart1 {
	interrupts-extended = <&intc 72 &omap3_pmx_core OMAP3_UART1_RX>;
};

&uart2 {
	interrupts-extended = <&intc 73 &omap3_pmx_core OMAP3_UART2_RX>;
	/*pinctrl-0 = <&uart2_pins>;*/
};

&uart3 {
	interrupts-extended = <&intc 74 &omap3_pmx_core OMAP3_UART3_RX>;
};

&gpio2 {
	rs232_forced_on {
		gpio-hog;
		gpios = <(38-32) GPIO_ACTIVE_HIGH>;	/* gpio_38 (address in gpio2) */
		output-high;
	};

	rs232_forced_off {
		gpio-hog;
		gpios = <(39-32) GPIO_ACTIVE_HIGH>;	/* gpio_39 (address in gpio2) */
		output-high;
	};
};

&gpio6 {
	lcd_panel_mode {
		gpio-hog;
		gpios = <18 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&i2c1 {
	clock-frequency = <2600000>;

	twl: twl@48 {
		reg = <0x48>;
		interrupts = <7>; /* SYS_NIRQ cascaded to intc */
		interrupt-parent = <&intc>;

		clocks = <&hfclk_26m>;
		clock-names = "fck";

		twl_power: power {
			status = "okay";
			compatible = "ti,twl4030-power";
			ti,use_poweroff;
		};

		twl_audio: audio {
			compatible = "ti,twl4030-audio";
			ti,enable-vibra = <0>;
			codec {
			};
		};
	};
};

/* DTS for TCA 8418 */
&i2c2 {
	status = "okay";

	tca8418: keypad@34 {
		compatible = "ti,tca8418";
		reg = <0x34>;
		interrupt-parent = <&gpio1>;
		interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
		linux,keymap = < MATRIX_KEY(0x00, 0x00, KEY_DOWN)
			               MATRIX_KEY(0x00, 0x01, KEY_E)
			               MATRIX_KEY(0x01, 0x00, KEY_LEFT)
			               MATRIX_KEY(0x01, 0x01, KEY_J)
			               MATRIX_KEY(0x01, 0x02, KEY_B)
			               MATRIX_KEY(0x02, 0x00, KEY_RIGHT)
			               MATRIX_KEY(0x02, 0x01, KEY_A)
			               MATRIX_KEY(0x03, 0x00, KEY_UP)
			               MATRIX_KEY(0x03, 0x01, KEY_ENTER)
			               MATRIX_KEY(0x03, 0x02, KEY_I)
		              >;
		keypad,num-rows = <8>;
		keypad,num-columns = <10>;
		keypad,autorepeat;
		wakeup-source;
	};

	mpu: mpu9250@68 {
		compatible = "invensense,mpu9250";
		reg = <0x68>;
		interrupt-parent = <&gpio1>;
		interrupts = <16 IRQ_TYPE_EDGE_RISING>;
	};
};

&i2c3 {
	status = "okay";

	bq27510g2: fuel-gauge@55 {
		compatible = "ti,bq27510g2";
		reg = <0x55>;
	};
};

#include "twl4030.dtsi"
/* #include "twl4030_omap3.dtsi" */

&vaux3 {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&vaux4 {
  regulator-min-microvolt = <3000000>;
  regulator-max-microvolt = <3000000>;
  regulator-always-on;
};

&dss {
	status = "ok";
};

&dsi {
	status = "ok";

	/*
	pinctrl-names = "default";
	pinctrl-0 = <&dsi_pins>;

	vdd-supply = <&vpll2>;
	 */

	port {
		dsi_out_ep: endpoint {
			remote-endpoint = <&lcd0_in>;
			lanes = <2 3 0 1 4 5>;
		};
	};

	lcd0: display {
		compatible = "aviv-dsi";
		label = "lcd0";

		/*
		pinctrl-names = "default";
		pinctrl-0 = <&display_pins>;
		*/

		vpnl-supply = <&vaux3>;
		/*
		vddi-supply = <&vio>;
		 */

		reset-gpios = <&gpio6 20 GPIO_ACTIVE_HIGH>;
		/*te-gpios = <&gpio2 30 GPIO_ACTIVE_HIGH>;	 62 */

		width-mm = <52>; /* 51.84 mm */
		height-mm = <86>; /* 86.4 mm */

		/* TODO:
		 * - panel is upside-down
		 * - top + bottom 5px are not visible
		 */
		panel-timing {
			clock-frequency = <0>;          /* Calculated by dsi */

			hback-porch = <20>;
			hactive = <488>;
			hfront-porch = <20>;
			hsync-len = <5>;

			vback-porch = <16>;
			vactive = <801>;
			vfront-porch = <1>;
			vsync-len = <1>;

			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};

		port {
			lcd0_in: endpoint {
				remote-endpoint = <&dsi_out_ep>;
			};
		};
	};
};

&gpmc {
	status = "okay";
	ranges = <0 0 0x30000000 0x40000000>;	/* CS0 space, 1GB */

	nand@0,0 {
		status = "okay";
		compatible = "ti,omap2-nand";
		reg = <0 0 4>;		/* NAND I/O window, 4 bytes */
		interrupt-parent = <&gpmc>;
		interrupts = <0 IRQ_TYPE_NONE>, /* fifoevent */
			     <1 IRQ_TYPE_NONE>;	/* termcount */
		rb-gpios = <&gpmc 0 GPIO_ACTIVE_HIGH>; /* gpmc_wait0 */
		nand-bus-width = <16>;
		ti,nand-ecc-opt = "ham1";
		#address-cells = <1>;
		#size-cells = <1>;

		gpmc,sync-clk-ps = <0>;
		gpmc,cs-on-ns = <0>;
		gpmc,cs-rd-off-ns = <44>;
		gpmc,cs-wr-off-ns = <44>;
		gpmc,adv-on-ns = <6>;
		gpmc,adv-rd-off-ns = <34>;
		gpmc,adv-wr-off-ns = <44>;
		gpmc,we-off-ns = <40>;
		gpmc,oe-off-ns = <54>;
		gpmc,access-ns = <64>;
		gpmc,rd-cycle-ns = <82>;
		gpmc,wr-cycle-ns = <82>;
		gpmc,wr-access-ns = <40>;
		gpmc,wr-data-mux-bus-ns = <0>;


		x-loader@0 {
			label = "X-Loader";
			reg = <0 0x80000>;
		};

		bootloaders@80000 {
			label = "U-Boot";
			reg = <0x80000 0x140000>;
		};

		bootloaders_env@1c0000 {
			label = "U-Boot Env";
			reg = <0x1c0000 0xc0000>;
		};

		kernel@280000 {
			label = "Kernel";
			reg = <0x280000 0x500000>;
		};

		filesystem@780000 {
			label = "File System";
			reg = <0x780000 0x3e4e0000>;
		};

		imgmagic@3ec60000 {
			label = "Splash screen magic number";
			reg = <0x3ec60000 0x20000>;
		};

		img1@3ec80000 {
			label = "Splash image 1";
			reg = <0x3ec80000 0x180000>;
		};

		igm2@3ee00000 {
			label = "Splash image 2";
			reg = <0x3ee00000 0x180000>;
		};

		igm3@3ef80000 {
			label = "Splash image 3";
			reg = <0x3ef80000 0x180000>;
		};

		img4@3f100000 {
			label = "Splash image 4";
			reg = <0x3f100000 0x0>;	/* 0 = MTDPART_SIZ_FULL */
		};
	};
};

&usb_otg_hs {
	status = "okay";
	interface-type = <0>;
	usb-phy = <&usb2_phy>;
	phys = <&usb2_phy>;
	phy-names = "usb2-phy";
	mode = <3>;
	power = <50>;
};

&usbhshost {
	status = "disabled";
};

&vmmc1 {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-initial-mode = <0x0e>;
};

&mmc1 {
	vmmc-supply = <&vmmc1>;
	bus-width = <4>;
	status = "okay";
	broken-cd;
	disable-wp;
};

&mcspi1 {
	status = "okay";

	tsc2008@0{
		compatible = "ti,tsc2008";
		spi-max-frequency = <25000000>;
		reg = <0>;

		interrupts-extended = <&gpio1 14 IRQ_TYPE_EDGE_RISING>;
		gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;	/* GPIO_14 for penup/pendown */

		max-bits = <12>;       /* supports only: 8 bit (256x256), 12 (4096x4096) */
		touchscreen-min-x = <0>;
		touchscreen-min-y = <0>;
		touchscreen-min-pressure = <0>;
		touchscreen-size-x = <4096>;
		touchscreen-size-y = <4096>;
		touchscreen-max-pressure = <2048>;
		touchscreen-fuzz-x = <4>;
		touchscreen-fuzz-y = <7>;
		touchscreen-fuzz-pressure = <2>;

		ti,x-plate-ohms = <450>;
	};
};
