// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2011 Texas Instruments Incorporated - http://www.ti.com/
 */
/dts-v1/;

#include "omap36xx.dtsi"
/* #include "omap3-evm-common.dtsi" */
/* #include "omap3-evm-processor-common.dtsi" */

/ {
	model = "Navis Orion (2016 m.y.)";
	compatible = "navis,omap3-orion2016", "ti,omap3630", "ti,omap3";

	cpus {
		cpu@0 {
			cpu0-supply = <&vcc>;
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};

	chosen {
		stdout-path = &uart3;
	};

	pwm8: dmtimer-pwm8 {
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&timer8>;
		#pwm-cells = <3>;
	};

	pwm9: dmtimer-pwm9 {
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&timer9>;
		#pwm-cells = <3>;
	};
};

&omap3_pmx_core {
	pinctrl-use-default; /* X-Loader has muxed the pins. Let them be. */
};

&gpio2 {
	rs232_forced_on {
		gpio-hog;
		gpios = <(38-32) GPIO_ACTIVE_HIGH>;	/* gpio_38 (address in gpio2) */
		output-high;
	};

	rs232_forced_off {
		gpio-hog;
		gpios = <(39-32) GPIO_ACTIVE_HIGH>;	/* gpio_39 (address in gpio2) */
		output-high;
	};
};

&i2c1 {
	clock-frequency = <2600000>;

	twl: twl@48 {
		reg = <0x48>;
		interrupts = <7>; /* SYS_NIRQ cascaded to intc */
		interrupt-parent = <&intc>;
	};
};

#include "twl4030.dtsi"
/* #include "twl4030_omap3.dtsi" */

